* CSS styles for the product images */
.product-image {
  display: inline-block;
  margin: 5px;
  text-align: center;
  position: relative; /* add position property to product image */
}

.product-image img {
  max-width: 100%;
  transition: transform 0.2s ease-in-out; /* add transition property to product image */
}

.product-image:hover img {
  transform: scale(0.9); /* add hover effect to product image */
}

.product-name {
  font-size: 20px;
  margin-top: 10px;
  text-align: center; /* center product name */
}

.product-price {
  font-size: 30px;
  margin-top: 10px;
  text-align: center; /* center product price */
  color: #ff8c00; /* change color of product price */
  font-weight: bold; /* add font weight to product price */
}

/* CSS styles for the product list and search input */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
